/**
 * Global app/site styles
 */
body {
	background-color: $color-bg;
}

h1 {
	color: #444;
}

/**
 * Default layout container
 */
.l-container {
	width: 90%;
	max-width: $layout-max-width;
	margin: 0 auto;
}

.forcasts {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
}

.forcast {
	margin: 0 5px;
	padding: 20px 0 0;
	width: 20%;
	&.clear-sky {
		background-image: linear-gradient(to bottom, #ffdb4e, #ff9872);
		background-position: left bottom;
	}

	&.few-clouds {
		background-image: linear-gradient(to bottom, #03B9A5, #30ECEB);
		background-position: left bottom;
	}

	&.scattered-clouds {
		background-image: linear-gradient(to bottom, #3E93B2, #44EDEC);
		background-position: left bottom;
	}

	&.broken-clouds {
		background-image: linear-gradient(to bottom, #3E93B2, #44EDEC);
		background-position: left bottom;
	}

	&.shower-rain {
		background-image: linear-gradient(to bottom, #066E94, #6fd4fb);
		background-position: left bottom;
	}

	&.rain {
		background-image: linear-gradient(to bottom, #24A0CD, #6fd4fb);
		background-position: left bottom;
	}

	&.thunderstorm {
		background-image: linear-gradient(to bottom, #0A465D, #61A1BA);
		background-position: left bottom;
	}

	&.snow {
		background-image: linear-gradient(to bottom, #74A3DE, #DCEDF4);
		background-position: left bottom;
	}

	&.mist {
		background-image: linear-gradient(to bottom, #919494, #D6D8D9);
		background-position: left bottom;
	}

	&:first-child {
		border-radius: 10px 0 0 10px;
	}
	&:last-child {
		border-radius: 0 10px 10px 0;
	}
	.background {
		width: 100%;
		padding-bottom: 100%;
		background-size: 130%;
		opacity: 0.5;
	}
	.description {
		text-transform: uppercase;
		font-size: 0.7rem;
	}
	.date,
	.tempc,
	.tempf,
	.description {
		text-align: center;
	}
	.date,
	img, {
		display: block;
		margin: 0 auto 20px;
	}
}




